.section__padding
{
    padding: 4rem 4rem;
}
.footer
{
    background-color: burlywood;
}
.sb__footer
{
    display: flex;
    flex-direction: column;
}
.sb__footer-link
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    /* flex-wrap: wrap; */
    width: 100%;
    text-align: left;
  
}
.sb__footer-link_div
{
    width: 200px;
    /* margin: 1rem; */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: black;
    font-weight: bold;
}
a{
    color: royalblue ;
    text-decoration: none;
}
.socialmedia
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.socialmedia img
{
    width: 80%;
}
.sb__footer-link_div h4
{
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0.9rem;
}
.sb__footer-link_div p
{
    font-size: 15px;
    line-height: 15px;
    margin: 0.5rem 0;
    cursor: pointer;
}
.sb_footer-below
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.sb__footer-below-links
{
    display: flex;
    flex-direction: row;
}
.sb__footer-below-links p
{
    font-size: 15px;
    line-height: 15px;
    margin-left: 2rem;
    color: black;
    font-weight: 600;
}
hr
{
    color: beige;
    width: 100%;
}
.sb_footer-copyright p
{
    font-size: 18px;
    line-height: 15px;
    color: black;
    font-weight: 600;
}
.fotterSiren
{
    display: flex;
    align-items: center;
   
}
.the
{
    writing-mode: vertical-lr;
    font-size: 20px;
}
.allSiren
{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}
.phoneSize
{
  width: 30px;
  height: 30px;
  margin: 10px;
}
.phone
{
    display: flex;
    align-items: center;
}
.Nlogo
{
    width: 50px;
    height: 50px;
}
/* @media screen and (max-width:850px){
    .sb__footer-heading h1
    {
        font-size: 44px;
        line-height: 50px;
    }
    .sb__footer-link {
        justify-content: space-evenly;
    }
} */

@media (max-width:425px){
        .sb__footer-heading h1
        {
            font-size: 34px;
            line-height: 42px;
        }
        .sb__footer-link div
        {
            margin: 1rem 0;
        }
        .sb__footer-btn p
        {
            font-size: 14px;
            line-height: 20px;
        }
        .sb_footer-below
        {
            flex-direction: column;
            justify-content: left;
        }
        .sb__footer-below-links
        {
            flex-direction: column;
        }
        .sb__footer-below-links a
        {
            flex-direction: column;
        }
        .sb__footer-link {
            justify-content: flex-start;
        }
        .sb__footer-link_div {
            display: none;
        }
        
}


@media  (max-width:320px){
    .sb__footer-heading h1
    {
        font-size: 27px;
        line-height: 38px;
    }
    .sb__footer-below-links p
        {
            margin-left: 0rem;
            margin-top: 1rem;
        }
        .sb_footer-below{
            flex-direction: column;
        }
        .sb__footer-below-links
        {
            display: flex;
            flex-direction: column;
        }
        .sb__footer-link {
            justify-content: start;
        }
        .sb__footer-link_div{
            display: none;
        }
    
}